// config params for singularity
singularity.enabled = true
singularity.autoMounts = true

// config params for the biowulf

process {
  executor='slurm'
  queue='ccr'
  mem='10g'
  cpus='6'

}


// config params for cutadapt
// config params for STAR
// config params for picard_dedup
// config params for htseq_count
